src/main/webapp/WEB-INF/wsdl/DiaryImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . -->
<definitions targetNamespace="http://ws.diary.zotyo.com/" name="DiaryImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.diary.zotyo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.diary.zotyo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="addDay" type="tns:addDay"/>

      <xs:element name="addEvent" type="tns:addEvent"/>

      <xs:element name="getAllDaysInDiary" type="tns:getAllDaysInDiary"/>

      <xs:element name="getAllDaysInDiaryResponse" type="tns:getAllDaysInDiaryResponse"/>

      <xs:element name="getAllEvents" type="tns:getAllEvents"/>

      <xs:element name="getAllEventsResponse" type="tns:getAllEventsResponse"/>

      <xs:element name="getDay" type="tns:getDay"/>

      <xs:element name="getDayResponse" type="tns:getDayResponse"/>

      <xs:element name="getDaysForAMonth" type="tns:getDaysForAMonth"/>

      <xs:element name="getDaysForAMonthResponse" type="tns:getDaysForAMonthResponse"/>

      <xs:element name="getEventsForADay" type="tns:getEventsForADay"/>

      <xs:element name="getEventsForADayResponse" type="tns:getEventsForADayResponse"/>

      <xs:complexType name="getDay">
        <xs:sequence>
          <xs:element name="arg0" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getDayResponse">
        <xs:sequence>
          <xs:element name="Day" type="tns:day" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="day">
        <xs:sequence>
          <xs:element name="id" type="xs:integer" minOccurs="0" />
          <xs:element name="descriptionOfTheDay" type="xs:string" />
          <xs:element name="eventsOfTheDay" type="tns:event" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="theDay" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="event">
        <xs:sequence>
          <xs:element name="id" type="xs:integer" minOccurs="0" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="duration" type="xs:long" minOccurs="0"/>
          <xs:element name="startTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAllEvents">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getAllEventsResponse">
        <xs:sequence>
          <xs:element name="Event" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getEventsForADay">
        <xs:sequence>
          <xs:element name="arg0" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getEventsForADayResponse">
        <xs:sequence>
          <xs:element name="Event" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getDaysForAMonth">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" />
          <xs:element name="arg1" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getDaysForAMonthResponse">
        <xs:sequence>
          <xs:element name="Day" type="tns:day" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addDay">
        <xs:sequence>
          <xs:element name="arg0" type="tns:day" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAllDaysInDiary">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getAllDaysInDiaryResponse">
        <xs:sequence>
          <xs:element name="Day" type="tns:day" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addEvent">
        <xs:sequence>
          <xs:element name="arg0" type="xs:dateTime" />
          <xs:element name="arg1" type="tns:event" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="getEventsForADay">
    <part name="parameters" element="tns:getEventsForADay"/>
  </message>
  <message name="getEventsForADayResponse">
    <part name="parameters" element="tns:getEventsForADayResponse"/>
  </message>
  <message name="getDaysForAMonth">
    <part name="parameters" element="tns:getDaysForAMonth"/>
  </message>
  <message name="getDaysForAMonthResponse">
    <part name="parameters" element="tns:getDaysForAMonthResponse"/>
  </message>
  <message name="getAllDaysInDiary">
    <part name="parameters" element="tns:getAllDaysInDiary"/>
  </message>
  <message name="getAllDaysInDiaryResponse">
    <part name="parameters" element="tns:getAllDaysInDiaryResponse"/>
  </message>
  <message name="getAllEvents">
    <part name="parameters" element="tns:getAllEvents"/>
  </message>
  <message name="getAllEventsResponse">
    <part name="parameters" element="tns:getAllEventsResponse"/>
  </message>
  <message name="addDay">
    <part name="parameters" element="tns:addDay"/>
  </message>
  <message name="addEvent">
    <part name="parameters" element="tns:addEvent"/>
  </message>
  <message name="getDay">
    <part name="parameters" element="tns:getDay"/>
  </message>
  <message name="getDayResponse">
    <part name="parameters" element="tns:getDayResponse"/>
  </message>
  <portType name="Diary">
    <operation name="getEventsForADay">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/getEventsForADayRequest" message="tns:getEventsForADay"/>
      <output wsam:Action="http://ws.diary.zotyo.com/Diary/getEventsForADayResponse" message="tns:getEventsForADayResponse"/>
    </operation>
    <operation name="getDaysForAMonth">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/getDaysForAMonthRequest" message="tns:getDaysForAMonth"/>
      <output wsam:Action="http://ws.diary.zotyo.com/Diary/getDaysForAMonthResponse" message="tns:getDaysForAMonthResponse"/>
    </operation>
    <operation name="getAllDaysInDiary">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/getAllDaysInDiaryRequest" message="tns:getAllDaysInDiary"/>
      <output wsam:Action="http://ws.diary.zotyo.com/Diary/getAllDaysInDiaryResponse" message="tns:getAllDaysInDiaryResponse"/>
    </operation>
    <operation name="getAllEvents">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/getAllEventsRequest" message="tns:getAllEvents"/>
      <output wsam:Action="http://ws.diary.zotyo.com/Diary/getAllEventsResponse" message="tns:getAllEventsResponse"/>
    </operation>
    <operation name="addDay">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/addDay" message="tns:addDay"/>
    </operation>
    <operation name="addEvent">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/addEvent" message="tns:addEvent"/>
    </operation>
    <operation name="getDay">
      <input wsam:Action="http://ws.diary.zotyo.com/Diary/getDayRequest" message="tns:getDay"/>
      <output wsam:Action="http://ws.diary.zotyo.com/Diary/getDayResponse" message="tns:getDayResponse"/>
    </operation>
  </portType>
  <binding name="DiaryImplPortBinding" type="tns:Diary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getEventsForADay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDaysForAMonth">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllDaysInDiary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addDay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getDay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DiaryImplService">
    <port name="DiaryImplPort" binding="tns:DiaryImplPortBinding">
      <soap:address location="http://timcsi.herokuapp.com:80/diary"/>
    </port>
  </service>
</definitions>

